---
import Layout from '@/layouts/Layout.astro';
import RegistroForm from '@/components/RegistroForm.astro';
---

<Layout title="IberInfancias | UNIÓN IBEROAMERICANA DE MUNICIPALISTAS.">	
	<section class="max-w-xl mx-auto">
		<RegistroForm />
	</section>
</Layout>