---

---

<section class="bg-gray-100 p-5 mt-8 text-md text-center mb-4">
   <p class="font-medium">©2024 UNIÓN IBEROAMERICANA DE MUNICIPALISTAS</p>
   <p>Plaza Mariana Pineda 9, 18009 Granada, España</p>   
   <p><a href="https://www.uimunicipalistas.org" class="text-blue-600">www.uimunicipalistas.org</a></p>
</section>