---
import { Image } from "astro:assets";
import  Logo  from '@/assets/iberinfancias.webp';
---
<section class="w-full max-w-xl mb-6 mx-auto">
   <Image src={Logo} width={900} height={300} alt="Logo Iberinfancias" class="w-full">   
</section>