<div id="modalSuccess" tabindex="-1" aria-hidden="true"
   class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0"
>
   <div class="rounded-lg bg-gray-50 px-16 py-14">
   <div class="flex justify-center">		
      <div class="rounded-full bg-green-200 p-6">
         <div class="flex h-16 w-16 items-center justify-center rounded-full bg-green-500 p-4">
         <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
         </svg>
         </div>
      </div>         
   </div>
   <h3 id="data-title" class="my-4 text-center text-3xl font-semibold text-gray-700">título</h3>
   <p id="data-content" class="w-[230px] text-center font-normal text-gray-600">contenido</p>
      <button id="btn-continuar" class="mx-auto mt-10 block rounded-xl border-4 border-transparent bg-primary px-6 py-2 text-center text-base font-medium text-green-100 outline-8 hover:outline hover:duration-300">Continuar</button>         
   </div>   
</div>


<div id="modalError" tabindex="-1" aria-hidden="true"
   class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0"
>
   <div class="rounded-lg bg-gray-50 px-16 py-14">
   <div class="flex justify-center">		
      <div class="rounded-full bg-orange-200 p-6">
         <div class="flex h-16 w-16 items-center justify-center rounded-full bg-orange-400 p-4">
         <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
         </svg>
         </div>
      </div>         
   </div>
   <h3 id="data-title" class="my-4 text-center text-3xl font-semibold text-gray-700">¡Atención!</h3>
   <p id="data-content" class="w-[230px] text-center font-normal text-gray-600">contenido</p>
      <button id="btn-continuar" class="mx-auto mt-10 block rounded-xl border-4 border-transparent bg-orange-500 px-6 py-2 text-center text-base font-medium text-orange-100 outline-8 hover:outline hover:duration-300">Cerrar</button>         
   </div>   
</div>
