---
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import "../styles/global.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Formulario de registro a IberTurismo" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
		<title>{title}</title>
	</head>
	<body class="w-full bg-white">
		<main class="w-full max-w-[1024px] mx-auto py-2 px-10">
			<Header />
			<slot />
		</main>
		<Footer />
		<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>		
	</body>
</html>